@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
@import 'https://fonts.googleapis.com/css2?family=MedievalSharp&family=New+Rocker&display=swap';
@import 'https://fonts.googleapis.com/css2?family=New+Rocker&display=swap';

html, body {
    background-color: rgb(167, 201, 167);
    margin: 0;
    padding: 0;
}
/* Navigation Bar*/
.topnav {
    background-color: rgb(75, 110, 75);
    overflow: hidden;
    height: 50px;
    width: 100%;
    padding: 0 10px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topnav a {
    display: block;
    font-family: 'MedievalSharp';
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    text-decoration: none;
    color: #e0ffe0;

    padding: 15px 20px;
}

.topnav a:hover {
    background-color: #9dd49d;
    color: black;
}

.topnav a.active {
    background-color: rgb(65, 139, 31);
    color: #e0ffe0;
}

body {
    padding-top: 50px;
}

/*Paragraph explaining what the website does*/
.hero {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'MedievalSharp';
    font-size: 2rem;
}



/* Buttons on home page*/
.frontpageButton {
    text-align: center; /* Centers inline-level content (like buttons) horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.frontpageButton button{
    font-family: 'MedievalSharp';
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px; /* Add some space between buttons if multiple */
    border: none;
    border-radius: 5px;
    background-color: #4b724b;
    color: white;
    cursor: pointer;
}